.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Anta", sans-serif;
  font-size: 25px;
}

.header img {
  height: 150px;
}

.header h1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4caf50;
}

.imageCont button {
  margin-top: 20px;
  width: 140px;
  height: 50px;
  border: 2px solid rgb(1, 68, 1);
  cursor: pointer;
  background-color: #38761d;
  color: #ffffff;
}

.imageCont button:active{
    transform: translateY(1px);
}

.imageCont img {
  margin-top: 25px;
  margin-bottom: 20px;
  height: 350px;
}

.buttonContainer {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.creator {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creator input {
    padding-left: 15px;
    height: 30px;
    width: 400px;
    margin-bottom: 5px;
}

.creator button {
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.creator button:active {
    transform: translateY(1px);
}

#user {
    margin-top: 20px;
    color: white;
    font-size: 25px;
    font-family: "Anta", sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  background-color: #4caf50;
  color: white;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .header {
      flex-direction: column;
      align-items: center;
  }

  .header img {
    height: 80px;
  }

  .header h1 {
    font-size: 30px;
  }

  .imageCont button {
      width: 120px;
      height: 40px;
  }

  .imageCont img {
      height: 260px;
  }

  .buttonContainer {
      width: 70%;
  }

  .creator input {
    width: 100%
    
  }

  .creator button {
    width: 100%
  }
}